body {
  font-family: 'Headland One', serif;
  --color1: #378261;
  --color2: #8BC46C;
  --color3: #D6E6A1;
  --color4: #F2F2CB;
  --color5: #F2AACA;
  --color6: #E378B0;
  background-color: var(--color4);
}
.grid > div {
  box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, .30), 0px 1px 3px 1px rgba(60, 64, 67, .15);
}
.grid {
  display: grid;
  grid-template-columns: minmax(250px, 350px) minmax(250px, 3fr) minmax(250px, 2fr) minmax(150px, 2fr);
  grid-template-rows: 30px 150px 150px 300px 400px 100px;
  gap: 10px;
  max-width: 1600px;
  margin: 0 auto;
}
.kontakt {
  grid-column: 1;
  grid-row: 5;
  display: flex;
  align-items: end;
  background-color: var(--color5);
  padding-left: 15px;
  color: #444;
}
.eden {
  grid-column: 2;
  grid-row: 1/3;
  display: flex;
  background-color: var(--color1);
  position: relative;
}
.eden img.vine {
  width: 300px;
  position: absolute;
  bottom: -24px;
  left: -53px;
}
h1 {
  font-size: 36px;
  color: var(--color4);
  padding-left: 25px;
  font-family: 'Headland One', serif;
}
.text {
  grid-column: 2 / 4;
  grid-row: 4;
  background-color: var(--color2);
  padding: 15px;
  color: #444;
}
.b1 {
  opacity: 0.8;
  grid-column: 2;
  grid-row: 3;
  background-image: url('b4.jpg');
  background-size: cover;
}
.b2 {
  opacity: 0.8;
  grid-column: 3;
  grid-row: 2 / 4;
  background-image: url('b3.jpg');
  background-size: cover;
}
.b3 {
  opacity: 0.8;
  grid-column: 4;
  grid-row: 2 / 5;
  background-image: url('b1.jpg');
  background-size: cover;
}
.a1 {
  background-color: var(--color3);
  grid-column: 1;
  grid-row: 1;
}
.a2 {
  background-color: var(--color3);
  grid-column: 2;
  grid-row: 1;
}
.a3 {
  background-color: var(--color3);
  grid-column: 3;
  grid-row: 1;
}
.a4 {
  background-color: var(--color2);
  grid-column: 4;
  grid-row: 1;
}
.g1 {
  background-color: var(--color1);
  grid-column: 1;
  grid-row: 6;
}
.g2 {
  background-color: var(--color3);
  grid-column: 2;
  grid-row: 6;
}
.g3 {
  background-color: var(--color2);
  grid-column: 3;
  grid-row: 6;
}
.g4 {
  background-color: var(--color5);
  grid-column: 4;
  grid-row: 6;
}
.trio {
  opacity: 0.7;
  grid-column: 2 / 5;
  grid-row: 5;
  height: 400px;
  background-image: url('trio.jpg');
  background-position: center;
  background-size: auto 400px;
}
.oboen {
  opacity: 0.8;
  grid-column: 1;
  grid-row: 2 / 5;
  background-image: url('oboen.jpg');
  background-position: -100px 0;
  background-size: auto 620px;
}
